body {
    font-family: Arial, sans-serif;
    background-color: white;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* min-width: 100vw; */
}

.f-body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* font-size: 1.75vh; */
}

.banner-back-index {
    position: relative;
    height: 100vh;
    /* background-image: url('/static/psesyn/images/banner1.png'); */
    /* background-image: url('/online/static/psesyn/images/banner1.png'); */
    background-size: cover;
    background-repeat: no-repeat; 
}

.banner-back {
    position: relative;
    height: 55vh;
    /* background-image: url('/static/psesyn/images/banner_back.png'); */
    /* background-image: url('/online/static/psesyn/images/banner_back.png'); */
    background-repeat: no-repeat; 
    background-size: cover;
}

nav {

    background-size: cover; /* This will ensure the image covers the entire nav area */
    background-position: center; /* This will center the image */

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    min-width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2); /* Optional: a semi-transparent background to make text more readable */
}

.dropdown {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
    top: 100%;
}

.dropdown:hover .dropdown-content,
.dropdown .dropdown-content:hover,
.dropdown:focus .dropdown-content,
.dropdown .dropdown-content:focus {
    display: block;
    z-index: 10;

}

nav li a {
    display:block;
    color: white;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: rgb(0, 0, 0);
}

.banner-index {
    position: relative;
    min-width: 100%;
    width: 100%;
    height: 100%;
    font-size: 2vh;
}

.banner {
    position: relative;
    height: 90%;
    font-size: 2vh;

}

.banner-upper {
    position:absolute;
    top: 8%;
    left: 3%;
    font-size: 3em;
    font-weight: 100;
    font-family: Helvetica;
    color: black;
} 

.banner-text-index {
    font-size: 8em;
    font-family:Verdana;
    position:absolute;
    text-align: center;
    top: 35%;  
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:1000;
    color: orange ;
    animation: pulsing-glow 3s infinite;
}



.banner-text {
    font-size: 6em;
    font-family:Verdana;
    position:absolute;
    text-align: center;
    top: 25%;  
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:1000;
    color: orange ;
    animation: pulsing-glow 3s infinite
}

.banner-lower {
    padding: 8px;
    border-radius: 15px;
    position:absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 2.1em;
    font-weight: 100;
    font-family: Helvetica;
    font-style: italic;
    color: black;
    text-shadow: 0 0 10px white;
    transform: translate(-50%, -50%);
}



@keyframes pulsing-glow {
    0% {
        text-shadow: 0 0 10px rgb(77, 77, 77), 0 0 20px rgb(130, 0, 0);
    }
    50% {
        text-shadow: 0 0 20px rgb(36, 36, 36), 0 0 30px rgb(166, 0, 0);
    }
    100% {
        text-shadow: 0 0 10px rgb(77, 77, 77), 0 0 20px rgb(130, 0, 0);
    }
}

.logos {

    display: flex;
    flex-wrap: wrap;
    height: 4vh;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(202, 131, 0, 0.2);
    box-shadow: 1px 1px 50px 20px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0px -10px 20px -15px rgba(0, 0, 0, 0.2); */

}
.logos img {

    box-sizing: content-box;
    height: 100%;
    width: auto;

}

/* Content Block Styles */

.content {
    padding: 40px 20px;
    background-color: rgba(255, 165, 0, 0.1);  /* Light orange background with some transparency */
    border: 2px solid rgba(135, 206, 250, 0.5);  /* Light blue border */
    border-radius: 12px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    line-height: 1.6;
}

.content-container {
    width: 80%;  /* You can adjust the width as needed */
    margin: 0 auto;  /* Centers the container horizontally */
    padding: 3px ;

}

.content-container h1, button{
    text-align: center;
    color: black;
    font-size: 2rem;  /* Adjust the font-size as needed */
    margin-bottom: 20px;  /* Space between the title and the content */
    /* border-bottom: 2px solid black;  */
}

.content-container p{
    text-align: justify;
    font-size: 1.3rem;  /* Adjust the font-size as needed */
    margin-bottom: 20px;  /* Space between paragraphs */

}

.content-container ul li {
    text-align: justify;
    font-size: 1.3em;  /* Adjust the font-size as needed */
    margin-bottom: 20px;  /* Space between paragraphs */
    width: 80%;

}


.global {

    display: flex; 
    align-items: center; 
    align-content: center; 
    flex-wrap: nowrap;

}

.global img {

    width: 50%;

}

/* Heading Styles */
.content h1, .instance h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;  /* Increased margin for better spacing */
    border-bottom: 2px solid #ddd;  /* Underline for separation */
    padding-bottom: 10px;  /* Padding to create space between text and underline */
}

/* Paragraph Styles */
.content p, .instance p {
    font-size: 1.3rem;
    color: #666;
    margin-bottom: 20px;  /* Increased margin for better spacing */
    text-align: justify;  /* Justified text for a clean look */
}

.instance { 
    display: flex;             /* Use flexbox for the container */
    flex-wrap: wrap;           /* Allow wrapping if there's not enough space */
    gap: 20px;                 /* Optional: Add some gap between instances */
    justify-content: center;   /* Optional: Center the items horizontally */
} 


.instance-content {
    flex: 1;                   /* Make each instance take equal space */
    box-sizing: border-box; 
    padding: 40px 20px;
    background-color: rgba(255, 165, 0, 0.1);  /* Light orange background with some transparency */
    border: 2px solid rgba(135, 206, 250, 0.5);  /* Light blue border */
    border-radius: 12px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    line-height: 1.6;
}

.join-us {
    display: block;
    font-size: 1.8em;
    width: auto;
    height: 50px;
    margin: 6% auto;
    padding: 10px 15px;
    background-color: orange;
    color: rgb(248, 244, 244);
    text-align: center;
    border-radius:12px;
    border:none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1)

    
}


.join-us:hover {
    background-color: rgb(212, 133, 29);
}

.join-us a {

    text-decoration: none;
    color: white;

}

.news-content {
    min-width: 50%;
}

/* Profile of PIs*/
.profile-container {
    padding: 20px;
    border: 1px solid #e0e0e0;
    width: 500px; /* Adjusted for better layout */
}

.profile-header {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: start;
    margin-bottom: 20px; /* Spacing between header and description */
}

.profile-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px; /* Optional: if you want rounded corners for the image */
}

.profile-info {
    display: flex;
    width: 300px ;
    flex-direction: column;
    text-align: center;
}

.profile-job {
    margin: 0 !important;
    text-align: center !important;
    /* margin-bottom: 0px !important;  */
}

.profile-description {
    flex-grow: 1;
    line-height: 1.5;
    /* height: 125px; */
    overflow-y: auto;
    margin-bottom: 0 !important;
}

.profile-tag {
    font-weight: 600;
}


.news-photo {
    width: 20%;
    /* height: 200px; */
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px; /* Optional: if you want rounded corners for the image */
}

.contact {
    width: inherit;

    height: 20px;
    font-size: 1.3em;
}

.contact p {
    margin: 0;
    text-align: center !important;
}

.workflow-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* 100% of the viewport height */
    width: auto;
}
  
.workflow-image img {
max-width: 70%; /* Ensure the image doesn't exceed its original size */
width: 70%; /* Responsive width */
height: auto; /* Responsive height */
margin-top: 5%;
}

.section-content {
    display: flex;                /* Make each instance take equal space */
    box-sizing: border-box; 
    padding: 40px 20px;
    background-color: rgba(255, 165, 0, 0.1);  /* Light orange background with some transparency */
    border: 2px solid rgba(135, 206, 250, 0.5);  /* Light blue border */
    border-radius: 12px;
    margin: 1% auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 55%;
    line-height: 1.6;  
}

.submenu {
    width: 80%;  /* You can adjust the width as needed */
    margin: 0 auto;  /* Centers the container horizontally */
    padding: 3px ;
}

.submenu .selectors {
    display: flex;
    justify-content: center;

}

.selectors button {
    text-align: center;
    color: black;
    font-size: 2em;  /* Adjust the font-size as needed */
    margin-top: 2%;  /* Space between the title and the content */
    margin-left: 2%;
    width: 30%;
    background-color: rgba(255, 165, 0, 0.1);
    /* background-color: transparent; */
    border: 2px solid rgba(135, 206, 250, 0.5); 
    border-radius: 12px;
}

.selectors button:hover {
    transform: scale(1.1); 
}

.section-content h1 {
    font-weight: 1000;
    font-size: 1em;
    border-bottom: 2px solid #ddd;
}

@media (max-width: 600px) {
    .banner-text-index, .banner-text {
        font-size: 3.8em;
        top: 20%;
    }
    .banner-lower {
        top: 32%;
        font-size:1.3em;
        width: 94%;
    }
    .banner-upper {
        top: 3%;
        font-size:1.3em;
    }
    li a {
        padding: 14px 3px !important;
        font-size: 0.85em;
    }
    .workflow-image {
        height: 100%;
    }
    .instance-content {
        width: 100%;
    }
    .instance p {
        font-size: 1em;
        width: 100%;
    }
    .profile-header {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .news-photo {
        width: 100%;
    }
    .selectors button {
        z-index: 10;
        margin-left: 4%;
        width: 50%;
    }
    .section-content {
        flex-wrap: wrap;
        width: 100%;
    }
    .global {

        flex-wrap: wrap;
    }

    .global img {

        width: 100% !important;
    
    }
    

}
